<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simeon's List - Sizes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <meta name="theme-color" 
      content="#00c937" 
      media="(prefers-color-scheme: light)">
    <meta name="theme-color" 
      content="#008404" 
      media="(prefers-color-scheme: dark)">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&display=swap');
    </style>
    <meta name="robots" content="noindex" />
    <meta property="og:title" content="Sizes" />
    <meta property="og:url" content="https://list.imsay.repl.co/sizes" />
    <meta property="og:site_name" content="Simeon's List" />
    <meta property="og:image" content="https://list.imsay.repl.co/static/assets/simeon-list-logo.png" />
    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
  </head>
  <body>
    <script>console.log("Hello World");</script>
    <h1> Sizes </h1>
    <br>
    <p>
      Shirt/Jacket: kids extra large, adult small  
      <br>
      Shoes/Socks: 4.5-5.5 mens/6-7 womens
      <br>
    <div class=navbar>
      <a href="/">Go home</a> 
      <br>
      <a href="/credits">Credits</a>
    </div> 
    </p>
  </body>
</html>